<!----


<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Designations</h4>
                        <p class="card-category"> Here is a subtitle for this table</p>
                    </div>
                    <div class="card-body">
                        <form class="navbar-form">
                            <div class="input-group no-border">
                                <input type="text" value="" class="form-control w-25" placeholder="Search...">
                                <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
                                   
                                    
                                </button>
                            </div>
                        </form>

                     
                       
                     
                            <button mat-raised-button type="button"  (click)='insertDia()' class="btn btn-primary float-left"> Insert

                            </button>
                         
                               
                           
                            
                      
                        
                            

                        
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                <th>
                                    Name
                                </th>
                                <th>
                                    Code
                                </th>
                                <th>
                                    Description
                                </th>
                               
                                </thead>
                                <tbody >
                                    <p id='loading'>Loading</p>
                                   
                                    <ng-container *ngFor="let obj of dataSource">
                                        <tr>
                                            <td>
                                                {{obj.Name}}
                                            </td>
                                            <td>
                                                {{obj.Code}}
                                            </td>
                                            <td>
                                                {{obj.Description}}
                                            </td>
                                            <td>
                                               
                                                <button mat-raised-button type="button"  (click)='updateDialog(obj)' class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">edit</i></button>
                                            </td>
                                          
                                            <td>
                                               
                                                <button mat-raised-button type="button" matTooltip="Remove"  (click)='deleteRecord(obj)' class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">close</i></button>
                                               
                                            </td>
                  
                                            
                                                 
                                                
                                                
                                               
                                           
                                        </tr>
                                       
                                    </ng-container>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

---->

<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Designations</h4>
                        <p class="card-category"> Here is a subtitle for this table</p>
                    </div>
                    <div class="card-body"  fxLayout='column' >

                        <mat-form-field fxFlex='100'>
                            <mat-label>Filter</mat-label>
                            <input matInput (keyup)="applyFilter($event)" placeholder="Filter" #input>
                        </mat-form-field>

                        <div class="table-responsive" >
                          
                            <table  mat-table [dataSource]="dataSource"  class="app-table"    >
                                
                                
                                 <!-- Position Column -->
                                <ng-container matColumnDef="Code">
                                    <th mat-header-cell *matHeaderCellDef> Code </th>
                                    <td mat-cell *matCellDef="let element"> {{element.Code}} </td>
                                </ng-container>
                            <ng-container matColumnDef="Name">
                                <th mat-header-cell *matHeaderCellDef> Name. </th>
                                <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
                            </ng-container>
                         
                            <ng-container matColumnDef="Description">
                                <th mat-header-cell *matHeaderCellDef> Description </th>
                                <td mat-cell *matCellDef="let element"> {{element.Description}} </td>
                            </ng-container>

                            <ng-container matColumnDef="Action" >
                                <th mat-header-cell *matHeaderCellDef> 
                                   <!-- <button mat-raised-button type="button"   class="btn btn-default" id="insertbtn"> Insert
                                    </button> -->
                                    <button mat-button (click)='insertRecord()' class='add-btn' color="basic" >
                                       <mat-icon>note_add</mat-icon> Add
                                      </button>
                                    
                                </th>
                                <td mat-cell *matCellDef="let obj"  > 
                                   <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end center">
                                        <!--<button mat-raised-button type="button"  (click)='updateDialog(obj)' class="btn btn-primary">
                                            <i class="material-icons">edit</i></button>-->
                                            <button mat-button (click)='editRecord(obj)' class='btn-edit' color="primary" >
                                                <mat-icon>edit</mat-icon> 
                                            </button>
                                       
                                           

                                        <button mat-button (click)='deleteRecord(obj)' class='btn-delete' color="warn" >
                                            <mat-icon>delete_forever</mat-icon> 
                                        </button>
                                        </div>
                                   
                                        

                            </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"
                            ></tr>
                           <tr mat-row *matRowDef="let row; columns: displayedColumns"
                            [ngClass]="{ 'selected-row': row.Code === selectedRowId }" ></tr>
                            

                          

                            </table>
                            
                            <div *ngIf="dataSource.data.length==0" class="no-records">
                               <span *ngIf='isGridDataLoading'> Loading...</span>
                               <span *ngIf='!isGridDataLoading'> No records found </span>
                           </div> 
         
 
                            <mat-paginator  [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                        </div>
                    
                    
                    </div>
             
                </div>
            </div>
            
        </div>
    </div>
</div>
